@page
@model SjcVotersPortal.Pages.Students.Index

@{
    
    ViewData["Title"] = "Register confirmation";
    var registeredStudents = Model.Students.Where(e => e.IsApproved == null).ToArray();
    var approvedStudents = Model.Students.Where(e => e.IsApproved == true).ToArray();
    var rejectedStudents = Model.Students.Where(e => e.IsApproved == false).ToArray();
}

<h1>@ViewData["Title"]</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="studentTab" role="tablist">
    <li class="nav-item" role="presentation">
            <button class="nav-link active" id="registeredStudents-tab" data-bs-toggle="tab" data-bs-target="#registeredStudents" type="button" role="tab" aria-controls="registeredStudents" aria-selected="true">Registered Students</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="approvedStudents-tab" data-bs-toggle="tab" data-bs-target="#approvedStudents" type="button" role="tab" aria-controls="approvedStudents" aria-selected="false">Approved Students</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="rejectedStudents-tab" data-bs-toggle="tab" data-bs-target="#rejectedStudents" type="button" role="tab" aria-controls="rejectedStudents" aria-selected="false">Rejected Students</button>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="registeredStudents" role="tabpanel" aria-labelledby="registeredStudents-tab" tabindex="0">
        <table class="table mt-2">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Students.First().RollNumber)</th>
                <th>@Html.DisplayNameFor(model => model.Students.First().Name)</th>
                <th>@Html.DisplayNameFor(model => model.Students.First().Batch)</th>
                <th>@Html.DisplayNameFor(model => model.Students.First().CourseId)</th>
                <th colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            @if (registeredStudents.Any())
            {
                @foreach (var item in registeredStudents)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.RollNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Batch)</td>
                        <td>@Html.DisplayFor(modelItem => item.CourseId)</td>
                        <td>
                            <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#idCardModal-@item.RollNumber">
                                View Id Card
                            </button>

                            <div class="modal fade" id="idCardModal-@item.RollNumber" tabindex="-1" aria-labelledby="idCardModalLabel-@item.RollNumber" aria-hidden="true">
                                <div class="modal-dialog modal-fullscreen">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="idCardModalLabel-@item.RollNumber">ID Card of @item.RollNumber</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="ratio ratio-16x9">
                                                @if (item.IdCarFileMime == "application/pdf")
                                                {
                                                    <embed src="data:@item.IdCarFileMime;base64, @Convert.ToBase64String(item.IdCardFile)" alt="ID Card"/>
                                                }
                                                else
                                                {
                                                    <img src="data:@item.IdCarFileMime;base64, @Convert.ToBase64String(item.IdCardFile)" alt="ID Card"/>
                                                }
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                        <td>
                            <form method="post">
                                <input type="hidden" name ="rollNumber"  value="@item.RollNumber" />
                                <input type="hidden" name ="IsApproved"  value="true" />
                                <input type="hidden" name ="rejectionReason"  value="" />
                                <input type="submit" value="Approve" class="btn btn-success btn-sm" />
                            </form>
                        </td>
                        <td>
                            <form method="post">
                                <input type="hidden" name ="rollNumber"  value="@item.RollNumber" />
                                <input type="hidden" name ="IsApproved"  value="false" />
                                <div class="row">
                                    <div class="col-8">
                                        <input type="text" name ="rejectionReason"  value="" class="form-control" size="10" required />
                                    </div>
                                    <div class="col-4">
                                        <input type="submit" value="Reject" class="btn btn-danger btn-sm" />
                                    </div>
                                </div>
                            </form>
                        </td>
                        
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="approvedStudents" role="tabpanel" aria-labelledby="approvedStudents-tab" tabindex="1">
        <table class="table mt-2">
            <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Students.First().RollNumber)</th>
                <th>@Html.DisplayNameFor(model => model.Students.First().Name)</th>
                <th>@Html.DisplayNameFor(model => model.Students.First().Batch)</th>
                <th>@Html.DisplayNameFor(model => model.Students.First().CourseId)</th>
            </tr>
            </thead>
            <tbody>
            @if (approvedStudents.Any())
            {
                foreach (var item in approvedStudents)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.RollNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Batch)</td>
                        <td>@Html.DisplayFor(modelItem => item.CourseId)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="rejectedStudents" role="tabpanel" aria-labelledby="rejectedStudents-tab" tabindex="2">
            <table class="table mt-2">
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Students.First().RollNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.Students.First().Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Students.First().Batch)</th>
                    <th>@Html.DisplayNameFor(model => model.Students.First().CourseId)</th>
                    <th>@Html.DisplayNameFor(model => model.Students.First().RejectionReason)</th>
                </tr>
                </thead>
                <tbody>
                @if (rejectedStudents.Any())
                {
                    foreach (var item in rejectedStudents)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.RollNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Batch)</td>
                            <td>@Html.DisplayFor(modelItem => item.CourseId)</td>
                            <td>@Html.DisplayFor(modelItem => item.RejectionReason)</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">No records found</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
</div>